html, body{
    margin: 0;
}

a {
    color: lightpink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a::after{
    color: lightpink;
}

.imageContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

img {
    
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    box-shadow: #f5f5db 5px 5px;
}

.blogImage {
    border-radius: 0%;
    box-shadow: none;
}

.flexboxContainer{
    display: flex;
    flex-flow: row wrap;

}



.sideBar{
    background-color: indianred;
    order: 2;
    width: 100%;

}

.sideBar ul{
    margin: 0;
    list-style: none;
}

.menu{
    background-color: indigo;
    padding: 1% 0 1% 0;
    width: 100%;
    order: 1
}

.menu ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    list-style: none;
}

.menu ul a{
    color: white;
    text-decoration: none;
}

.menu ul a::after{
    color: white;
}

.menu ul a:hover{
    color: #f5f5db;
}

.content{
    background-color: blueviolet;
    color: black;
    padding: 0;
    order: 0;
}

.content p{
    margin: 0;
    padding: 1% 0 1% 0;
}

h1{
    margin: 0;
    padding: 1% 0 1% 0;
}

@media (min-width: 680px){

    
    .sideBar{
        order: 1;
        width: 15%;
        
    
    }
    
    .menu{
        order: 0;
    }
    
    
    .content{
        order: 2;
        width: 85%;
        
    }

}
