.set-of-buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

}

.shapeContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

.shape{
    border-radius: 100% 0 0 0;
    background: #E3516E;
    height: 200px;
    width: 200px;
}

.moveCirc{
    animation-name: upAndDowny;
    animation-duration: 5s;
    position: relative;
}

@keyframes upAndDowny {
    
   0% {top: 0px;}
    
    50% {
        top: 300px;
    }

    100% {top: 0px;}
}

#moveCircListener{
    border-radius: 50%;
    border-style: none;
}

#chgGradientListener{
    
}

.chgGradient{
    background: linear-gradient(2deg, #E3516E, #5169f3);
}

.spinCirc{
    animation-name: spinny;
    animation-duration: 5s;
}

@keyframes spinny {
    100% {
        transform: rotate(360deg);
    }
}