h1 {
    color: hsl(297, 41%, 55%);
    width: 60%;

}
/* get content aligned left --> */
#blogArticleContent{
    position: relative;
    width: 60%;
    text-align: start;

}

footer{
    position: relative;
}
@media (max-width: 800px){
    #blogArticleContent{
        width: 95%;
    }
    h1 {
        width: 100%;
    }
}